@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>
<h3>@ViewBag.Message</h3>

<p>O Control Cash foi elaborado com o intuito de auxiliar a sua vida financeira!</p>
<p>Controle seus débitos e créditos.</p>
<p>Saiba oque gastou diáriamente.</p>

