@{
    ViewBag.Title = "Contact";
}
<h2>Contatos</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/raphaeluzeda/"> @@raphaeluzeda</a><br />
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/raphael-uzeda-virgens-a6a806192/"> Raphael Uzeda Virgens</a><br />
    <strong>WhatsApp:</strong>   <a href=" https://api.whatsapp.com/send?phone=5571991503210"> (71)99150-3210</a><br />
    <strong>Telegram:</strong>   <a href=" https://t.me/Raphael_Uzeda"> (71)99150-3210</a><br />
</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:raphael.uzeda@outlook.com?subject= Vim pelo ControlCash">raphael.uzeda@outlook.com</a><br />
    
</address>