@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control Cash</h1>
    <p class="lead">Precisando se organizar financeiramente ?</p>
    <p class="lead">Não consegue controlar seus gastos ?</p>
    <p class="lead">No final do mês sempre fica com dúvida no que gastou aquele dinheiro ?</p>
    <p class="lead">Seus problemas acabaram ... A solução é o CONTROL CASH.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Maior controle financeiro</h2>
        <p>
            Com o Control cash você consegue controlar melhor seus gastos e receitas,de forma ágil e fácil.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Prático e útil</h2>
        <p>Nada de muito rodeio...</p>
        <p>O Control cash foi feito para facilitar a vida dos cientes ,seu layout simples deixa claro isso.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Carteira digital</h2>
        <p>Todos seus débitos e receitas em um só clique !</p>
        <p>Nada de surpresas negativas no final do mês.</p>

    </div>
</div>